<!-- Homepage/dashboard
Responsibilies: 
        - landing page 
        - navigation links
        - summary cards/statisitcs later
-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">

<!DOCTYPE html>
<html>
<head>
  <title>Internship Tracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="page-container">
    <h1>Internship Tracker</h1>
    <p class="subtitle">Track your internship and job applications in one place.</p>

    <a href="/applications/add" class="back-link">Add New Application</a>
    <br>
    <a href="/applications" class="back-link">View All Applications</a>
  </div>
</body>
</html>